
.mixin.out/

craftpresence/

crash-reports/

logs/

mods/

saves/

.curseclient

knownkeys.txt

minecraftinstance.json

options.txt

reauth.toml

usercache.json

usernamecache.json

config/jei/bookmarks.ini

screenshots/
